@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .cardSkill {
    @apply bg-[#0E0C0E] w-16 h-16 flex justify-center items-center  rounded-md bg-gradient-to-r hover:scale-105 from-gray-800 to-black border border-gray-800 duration-200 hover:text-gray-500 hover:border-gray-800 hover:from-black hover:to-gray-900
  }
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #252121;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
